@import "helpers/variable";
@import "helpers/mixin";
@import "helpers/reset";
@import "layout/grid";
@import "layout/header";

.header {
  background:url(../picture/header.jpg) center no-repeat fixed;
  background-size:cover;
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  align-content:center;

  &__title {
    font-weight: 600;
    font-size: 110px;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
  }

  &__baseline {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 10px;
    text-align: center;
  }
}

.travel {
    padding:50px 0;
    background:url(../picture/travel.jpg) no-repeat center bottom;
    background-size:contain;
    height: 1600px;
    line-height: 46px;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2.5px;
  
  &__textStrong {
    font-weight: 400;
  }
}

.headband {
    background-color:#0a1613;
    color:white;
    letter-spacing: 2.5px;
    font-size: 26px;
    line-height: 34px;

    &__baseline {
      padding: 40px 0 150px 0;
    }

    &__intro {
      font-weight: 200;

      strong {
        font-weight: 400;
      }
    }

    &__indicator {
      font-weight: 400;
      font-size: 48px;
      margin-top: 10px;
    }

    span {
        display: block;
    }
}

.wild {
  background:url(../picture/wild.jpg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  height: 100vh;

  &__quote {
    font-size: 60px;
    font-weight: 500;
  }

  &__author {
    font-size: 46px;
    margin-top:20px;
    font-weight: 300;
  }
}

.liberty {
  background:url(../picture/liberty.jpg) no-repeat bottom;
  background-size: contain;
  line-height: 46px;
  height: 1600px;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 2.5px;

  strong {
    display: block;
    font-weight: 500;
    padding: 40px 0 20px 0;
  }
}

.travel_row {
    padding:50px 0;
    line-height: 46px;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2.5px;
  
  &__textStrong {
    font-weight: 400;
  }
}




