// color variable
$color-blue : #0faeb1;
$color-orange: #ff9000;

// Font 
$font-regular : Work Sans;

// BreakPoint
$tablet-small : 480px;
$tablet : 728px;
$desktop : 992px;
$desktop-large : 1170px;

$nb-columns : 10;