// color variable
$color-blue : #0faeb1;
$color-orange: #ff9000;
$color-background:#e9edef;

// Font 
$font-regular : Work Sans;
$font__weight-regular : 300;

// BreakPoint
$tablet-small : 480px;
$tablet : 728px;
$desktop : 992px;
$desktop-large : 1170px;

$nb-columns : 12;
$gutter:15px;