.footer {
   background:url(../picture/bye.jpg) no-repeat bottom;
   background-size: cover;
   display: flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   align-content:center;
   height: 350px;

   @media screen and (min-width: $tablet) {
      height: 600px;
   }

   @media screen and (min-width: $desktop-large) {
      height: 1000px;
   }

   &__title {
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 12px;
      text-align: center;
      font-size:35px;
      margin-top:10px;

      @media screen and (min-width: $tablet) {
         font-size: 90px;
         margin-top:50px;
      }

      @media screen and (min-width: $desktop-large) {
         font-size: 110px;
         margin-top:50px;
      }
   }

   &__baseline {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;

      @media screen and (min-width: $tablet) {
         font-size: 35px;
      }
   }
}