.container {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   position: relative;
   width: 100%;

   @media screen and (min-width: $tablet) {
      width: 750px;
   }

   @media screen and (min-width: $desktop) {
      width: 1180px;
   }
}

.wrapper {
   width: 100%;
   overflow: hidden;
}

@for $i from 1 through 12 {
    .layout__col--#{$i} {
        width: 10%*$i;
        float: left;
        padding-left:15px;
        padding-right:15px;
    }
}