.header {
	background:url(../picture/header.jpg) center no-repeat;
	background-size:cover;
	height: 100vh;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;

	&__title {
		font-weight: 500;
		font-size: 110px;
		text-transform: uppercase;
		letter-spacing: 12px;
	}

	&__baseline {
		font-size: 35px;
		text-transform: uppercase;
		font-weight: 300;
		padding-top: 10px
	}
}