.headband {
   @extend .text-regular;
   color:white;
   position: relative;
   
   &__band {
      background-color:#0a1613;
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;

      @media screen and (min-width: $tablet) {
         height: 85%;
      }
   }

   &__baseline {
      padding:30px 0;

      div {
         padding:10px 0;
      }

      @media screen and (min-width: $tablet) {
         padding: 40px 0 150px 0;
      }
   }

   &__intro {
      font-weight: 200

      strong {
         font-weight: 400;
      }
   }

   &__indicator {
      font-weight: 400;
      font-size: 48px;
      margin-top: 10px;

      @media screen and (min-width: $tablet) {
         font-size: 28px;
         margin-top: 0;
      }

      @media screen and (min-width: $desktop-large) {
         font-size: 48px;
         margin-top: 10px;
      }
   }

   span {
      display: block;
   }
}