.navbar {
   display: none;

   @media screen and (min-width: $tablet) {
      display: block;
      position: fixed;
      transform:rotate(90deg);
      top:50%;
      transform-origin:center center;
      right: -150px;
      z-index: 200;
   }

   &__menu {
      transition:all 1s;
      li {
         float: left;
         padding:0 10px;
         cursor: pointer;
      }

      &--active {
         color:white;
      }
   }
}